# Virtual environment
myenv/
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Local files
reference_text.txt

# IDE files
.vscode/
.idea/

# Cache files
*.cache

.cfg
htmltomarkdown.py